EASY

1. Map:
You have a list of integers:

nums = [1, 4, 9, 16, 25]

Use map to create a list of square roots.

In [2]:
import math
nums=[1,4,9,16,25]
root = list(map(lambda x:math.sqrt(x), nums))
root

[1.0, 2.0, 3.0, 4.0, 5.0]

2. Filter:
From this list:

words = ["apple", "banana", "kiwi", "grape", "pear"]

Use filter to keep only words with length ≥ 5.

In [5]:
words = ["apple", "banana", "kiwi", "grape", "pear"]
word_f = list(filter(lambda x:len(x)>=5,words))
word_f

['apple', 'banana', 'grape']

3. Reduce:
From:

nums = [2, 3, 4]

Use reduce to find the factorial (product of all numbers).

In [7]:
from functools import reduce
nums = [2, 3, 4]
fact=reduce(lambda a,b:a*b,nums)
fact

24

4. Filter + Map:
Given:

nums = [10, 15, 20, 25, 30, 35, 40]

Filter numbers divisible by 5 but not by 10.

Then map each to its square.

In [6]:
nums = [10, 15, 20, 25, 30, 35, 40]

t=list(map(lambda x:x*x,filter(lambda x:x%5==0 and x%10!=0,nums)))
t

[225, 625, 1225]

5. Map + Reduce:
Given:

names = ["Alice", "Bob", "Charlie"]

Use map to get the length of each name.

Use reduce to sum the lengths.

In [25]:
names = ["Alice", "Bob", "Charlie"]
res=reduce(lambda a,b:a+b,map(lambda x : len(x),names))
res

15

6. Filter + Reduce:
Given:

nums = [5, 12, 7, 18, 3, 20]

Filter out numbers ≤ 10.

Use reduce to find their sum.

In [10]:
nums = [5, 12, 7, 18, 3, 20]
res = reduce(lambda a,b:a+b,filter(lambda x:x<=10,nums))
res

15

7. Transactions Pipeline:
Given:

transactions = [1200, -300, 450, -600, 700, -150]

Filter to keep only positive transactions.

Map each to double its value.

Reduce to get the total doubled income.

In [11]:
transactions = [1200, -300, 450, -600, 700, -150]

res= reduce(lambda a,b:a+b,map(lambda x:2*x,filter(lambda x:x>0,transactions)))
res

4700

8. Dictionary Data Processing:
Given:

people = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 30},
    {"name": "Carol", "age": 27},
    {"name": "Dave", "age": 22}
]

Filter only people older than 25.

Map to just their names.

Reduce to concatenate names into a single comma-separated string.

In [27]:
people = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 30},
    {"name": "Carol", "age": 27},
    {"name": "Dave", "age": 22}
]

res =list(map(lambda x:x['name'],filter(lambda x:x['age']>25,people)))
res

['Bob', 'Carol']

9. Word Frequency Counter:
Given:

text = "apple banana apple grape banana apple"

Split into words.

Use reduce to build a dictionary counting occurrences of each word.

In [31]:
text = "apple banana apple grape banana apple"
res = text.split()
res_ = reduce(lambda a,b:(a.update({b:a.get(b,0)+1}) or a),res,{})
res_

{'apple': 3, 'banana': 2, 'grape': 1}

In [33]:
def update_count(acc, word):
    acc[word] = acc.get(word, 0) + 1
    return acc

result = reduce(update_count, res, {})
print(result)
# {'apple': 3, 'banana': 2, 'grape': 1}

{'apple': 3, 'banana': 2, 'grape': 1}

10. Nth Largest Distinct Number:
Given:


nums = [10, 20, 20, 30, 40, 40, 50]

n = 3

Remove duplicates (set).

Sort in descending order.

Use map/filter or indexing to get the nth largest number.

In [26]:
nums = [10, 20, 20, 30, 40, 40, 50]
nums=list(set(nums))
nums.sort(reverse=True)
n = 3
ans10 = nums[n - 1] if n <= len(nums) else None
print(ans10)

30